// Define styles for the ProjectsPage component
.projects-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  
    .projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2rem;
      }
    }