// Define styles for the ProjectsPage component
.projects-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  
    .projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2rem;
  
      .project-card {
        width: calc(33.33% - 1rem);
        height: 100px;
        background-color: #6b7280;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;
  
        a {
          color: #fff;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          h3 {
            margin: 1rem 0 0;
            font-size: 1.2rem;
            text-align: center;
            width: auto;
          }
  
          img {
            width: 100%;
            max-height: 10rem;
            object-fit: contain;
            margin-bottom: 1rem;
          }
        }
      }
    }
  
    .pagination {
      display: flex;
      justify-content: center;
  
      button {
        margin: 0 0.5rem;
        background-color: #1f2937;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
  
        &:hover {
          background-color: #374151;
        }
      }
  
      .active {
        background-color: #4b5563;
      }
    }
  }
  