.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        margin-bottom: 2rem;

        label{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        input{
            width: 70%;
            height: 2rem;
            margin-bottom: 1rem;
            border-radius: 50px;
            padding: 0 0.5rem;

            &:focus{
                outline: none;
            }
        }

        textarea{
            resize: none;
            width: 70%;
            height: 10rem;
            margin-bottom: 1rem;
            border-radius: 20px;
            padding: 0 0.5rem;

            &:focus{
                outline: none;
            }
        }

        button{
            width: 60%;
            height: 2rem;
            border: none;
            border-radius: 20px;
            background-color: #000;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            margin: 20px;
        }
    }

}

@media screen and (max-width: 768px){
    .contact-container{
        .contact-form{
            width: 80vw;

            input{
                width: 90%;
                height: 2rem;
                margin-bottom: 1rem;
                border-radius: 50px;
                padding: 0 0.5rem;

                &:focus{
                    outline: none;
                }
            }

            textarea{
                resize: none;
                width: 90%;
                margin-bottom: 1rem;
                border-radius: 20px;
                padding: 0 0.5rem;

                &:focus{
                    outline: none;
                }
            }

            button{
                width: 100%;
                height: 2rem;
                border: none;
                border-radius: 20px;
                background-color: #000;
                color: #fff;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}