.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: #f2e7d5;
  box-shadow: 0 0.75px 10px 10px #f2e7d5;
  overflow: hidden;

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background-color: #f2e7d5;

    img {
      width: 100px;
      height: 100px;
      padding: 0 10px;
      background-color: #20262e;
    }
  }

  .hamburger {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f2e7d5;
    color: #20262e;
    margin: 0 20px;

    a {
      text-decoration: none;
      color: #20262e;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 5px 10px;
      transition: all 0.5s ease-in-out;
      border-radius: 5px;

      &:hover {
        background-color: darken($color: #f2e7d5, $amount: 15%);
        color: lighten($color: #20262e, $amount: 15%);
        box-shadow: 0 0 10px 0 #20262e;
        animation: all 0.5s ease-in-out;
      }

      &:active {
        background-color: darken($color: #f2e7d5, $amount: 15%);
        color: lighten($color: #20262e, $amount: 15%);
        box-shadow: 0 0 10px 0 #20262e;
        animation: all 0.5s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .nav-bar {

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: left;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      background-color: #f2e7d5;

      img {
        width: 70px;
        height: 70px;
        padding: 0 10px;
        background-color: #20262e;
      }
    }

    .logo-active{
      position: absolute;
      top: 0px;
      left: 30px;

      img {
        width: 70px;
        height: 70px;
        padding: 0 10px;
        background-color: #20262e;
      }
    }


    .hamburger {
      display: flex;
      flex-direction: column;
      float: right;
      width: 50px;
      height: 50px;
      padding: 10px;
      background-color: #f2e7d5;
      color: #20262e;
      margin: 0 20px;
      cursor: pointer;
      top: 10px;
      right: 0px;
      position: absolute;
      animation: all 0.5s ease-in-out;
    }

    .hamburger-active{
      display: flex;
      flex-direction: row;
      width: 50px;
      height: 50px;
      padding: 10px;
      background-color: #f2e7d5;
      color: #20262e;
      margin: 0 20px;
      cursor: pointer;
      top: 10px;
      right: 0px;
      position: absolute;
      animation: all 0.5s ease-in-out;
    }

    .links {
      display: none;
    }

    .links-active{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      float: right;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: #f2e7d5;
      color: #20262e;
      animation: all 0.5s ease-in-out;
      left: 0;

      a {
        text-decoration: none;
        color: #20262e;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 5px 10px;
        transition: all 0.5s ease-in-out;
        border-radius: 5px;
        margin: 10px 0;

        &:hover {
          background-color: darken($color: #f2e7d5, $amount: 15%);
          color: lighten($color: #20262e, $amount: 15%);
          box-shadow: 0 0 10px 0 #20262e;
          animation: all 0.5s ease-in-out;
        }

        &:active {
          background-color: darken($color: #f2e7d5, $amount: 15%);
          color: lighten($color: #20262e, $amount: 15%);
          box-shadow: 0 0 10px 0 #20262e;
          animation: all 0.5s ease-in-out;
        }      
      }
    }
  }
}